<div class="banner">
It's time to get away.
</div>
<br>
<div class="hometext">
  <h1> text and stuff</h1>

  <p> fgfghf fdgjdf sudhfudf gijgf dshs fgf kd ifjgijg fdjjdf jdjd dkjghs  fjf j jfgdjgf fjdfgjd sdhf! </p>
  <br>
  <br>
</div>
